{% extends "base.html" %} {% load i18n %}
<!-- Static content -->
{% load static %}
<!-- Title block -->
{% block head_title %} {%trans "SignOut" %}{% endblock head_title %}
<!-- content block -->

{% block content %}

<div class="auth-container pb-5">
  <div class="container pt-5">
    <div class="row text-center">
      <div class="col-md-8 offset-md-2 text-white">
        <img
          src="{% static 'images/logo.webp' %}"
          alt="bladez and fadez logo"
          class="full-logo"
        />
        <h1 class="text-center pb-2">{% trans "Sign Out" %}</h1>

         <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
      </div>
    </div>
    <div class="container pt-5"></div>
        <div class="row  text-center">
          <div class="col-md-8 offset-md-2 text-white">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %} {% if redirect_field_value %}
              <input
                type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}"
              />
              {% endif %}
              <div class="d-grid gap-2 col-8 mx-auto">
              <button class="btn btn-lg btn-signout btn-light right m-5" type="submit">{% trans 'Sign Out' %}</button>
            </div>
          </div>
        </div>
        
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
