{% extends "base.html" %} {% block content %}
<!-- Load static content -->
{% load static %}

<!-- Heading section for page -->
<section class="heading">
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-12 left main-bg">
        <img
          class="logo mt-5 mb-3"
          src="{% static 'images/logo.webp'%}"
          alt="Bladez and fadez logo"
        />
      </div>
    </div>
  </div>
</section>

<!-- Detail section containing shop and contact details -->
<section class="details">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 details-border pt-2">
        <h2 class="text-center">
          <i class="fas fa-address-card px-2"></i>Address
        </h2>
        <table class="mx-auto">
          <tr>
            <td>{{details.address1}}</td>
          </tr>
          <tr>
            <td>{{details.address2}}</td>
          </tr>
          <tr>
            <td>{{details.city}}</td>
          </tr>
          <tr>
            <td>{{details.country}}</td>
          </tr>
          <tr>
            <td>{{details.postal_code}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-4 text-center details-border pt-2">
        <h2>Contact us</h2>
        <p><i class="fas fa-phone"> </i> {{details.telephone}}</p>
        <a class="no-decoration" href="mailto:{{details.email}}" 
        aria-label="Click to send email">
          <p><i class="fas fa-envelope"> </i> {{details.email}}</p>
        </a>

        <h2>Operating Times:</h2>
        <!-- Process the trading days from the context -->
        {% for day in days %}
        <p>
          <i class="fas fa-clock px-2"></i>
          {% if day.open_time|slugify == day.close_time|slugify %}
            {{ day.get_day_display }}: Closed
          {% else %}
            {{ day.get_day_display }}: {{ day.open_time }} - {{ day.close_time }}
          {% endif %}
        </p>
        {% endfor %}
      </div>
      <div class="col-md-4 text-center details-border">
        <a href="{% url 'new-booking' %}"
        ><button
            class="btn btn-lg btn-dark btn-book mt-2 mt-md-5 mb-2 mb-md-5"
            aria-label="Click to make a new booking"
          >
            <i class="fas fa-plus-square px-1"></i>
            Book Now
          </button></a
        >
      </div>
    </div>
  </div>
</section>

<!-- Section for available services -->
<section class="services">
  <div class="container-fluid bg-dark g-0">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{% static 'images/shaving_service.jpg'%}"
          alt="Person having hair cut"
          class="service-img"
        />
      </div>
      <div class="col-md-4 text-white px-5 pt-4">
        <h3 class="text-center pt-5">Services Offered</h3>

        <p class="pt-4">
          We offer a comprehensive range of scissors cuts, fades, buzz cuts,
          tapering, afro cuts, beard trimming and shaving services.
        </p>
        <div class="pt-5">
          <table class="mx-auto">
            <tbody>
              <tr>
                <td class="px-2"><i class="fas fa-check"></i></td>
                <td class="px-2">Wash, Cut & Finish</td>
              </tr>
              <tr>
                <td class="px-2"><i class="fas fa-check"></i></td>
                <td class="px-2">Dry Hair Cut & Finish</td>
              </tr>
              <tr>
                <td class="px-2"><i class="fas fa-check"></i></td>
                <td class="px-2">Beard & Moustache Trim</td>
              </tr>
              <tr>
                <td class="px-2"><i class="fas fa-check"></i></td>
                <td class="px-2">Open Razor Beard Design</td>
              </tr>
              <tr>
                <td class="px-2"><i class="fas fa-check"></i></td>
                <td class="px-2">Hot Towel Shave</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-3">
          <a class="btn btn-lg btn-light btn-edit" href="{% url 'about' %}"
          aria-label="Click for more information"
            ><i class="fas fa-info-circle px-2"></i>More Info</a
          >
        </div>
      </div>

      <div class="col-md-4">
        <img
          src="{% static 'images/beard_trimming.jpg'%}"
          alt="Man having beard trimmed"
          class="service-img"
        />
      </div>
    </div>
    <div class="row bg-light g-0">
      <div class="col-md-4">
        <img
          src="{% static 'images/stylish-man-sitting-barbershop.jpg' %}"
          alt="Image of barbers tools"
          class="service-img"
        />
      </div>
      <div class="col-md-4">
        <img
          src="{% static 'images/stylish-man-sitting-barbershop-team.jpg' %}"
          alt="Image of man at barbershop"
          class="service-img"
        />
      </div>
      <div class="col-md-4">
        <img
          src="{% static 'images/woman-grooming-customer-barbershop.jpg' %}"
          alt="Picture of cutting instruments"
          class="service-img"
        />
      </div>
    </div>
  </div>
</section>
{% endblock %}
