{% extends "base.html" %} {% block content %}
<!-- Load static content -->
{% load static %}
<div class="container-fluid">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-12 left main-bg">
      <img
        class="logo mt-5 mb-3"
        src="{% static 'images/logo.webp'%}"
        alt="Bladez and fadez logo"
      />
    </div>
  </div>
</div>

<section class="details">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 details-border text-center">
        <h2>Address</h2>
        <p>{{details.address1}}</p>
        <p>{{details.address2}}</p>
        <p>{{details.city}}</p>
        <p>{{details.country}}</p>
        <p>{{details.postal_code}}</p>
      </div>
      <div class="col-md-4 text-center details-border">
        <h2>Contact us</h2>
        <p><i class="fas fa-phone"> </i> {{details.telephone}}</p>
        <a class="no-decoration" href="mailto:{{details.email}}">
          <p><i class="fas fa-envelope"> </i> {{details.email}}</p>
        </a>

        <h3>Operating Times:</h3>
        <p>Monday - Saturday: 08h00 until 18h00</p>
      </div>
      <div class="col-md-4 text-center details-border">
        <a href="#"
          ><button
            class="btn btn-lg btn-dark btn-book mt-2 mt-md-5 mb-2 mb-md-5"
          >
            <i class="fas fa-plus-square px-1"></i>
            Book Now
          </button></a
        >
      </div>
    </div>
  </div>
</section>
{% endblock %}
