{% extends "base.html" %}
<!-- Cancel booking url -->
{% block content %}
<!-- Load static content -->
{% load static %} {% load humanize %}
<!-- Section for heading information -->
<section class="booking-header">
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-4 offset-md-4 g-0">
        <img
          class="service-img "
          src="{% static 'images/bladez_and_fadez_logo3_black.png' %}"
          alt="Bladez and Fadez Logo"
        >
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3 mt-3 text-center">
          <h1>Bookings</h1>
          {% if not user.is_staff %}
          <a href="{% url 'new-booking' %}" class="btn btn-lg btn-dark btn-edit"
          aria-label="Click to make a new booking"
            ><i class="fas fa-plus-square px-1"></i> Make booking</a
          >
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section for list of bookings -->
<div class="booking-list">
  <div class="container mt-2">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive-md">
        <table
          class="table table-striped table-dark table-hover table-bordered mt-3 mb-5"
        >
          {% if data|length == 0 %}
          <h5 class="text-center mt-3">No upcoming bookings</h5>

          {% else %}
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Professional</th>
              <th scope="col">Appointment time</th>
              <th scope="col">Service</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in data %}
            <tr>
              <td>
                {{item.customer_id.first_name }} {{ item.customer_id.last_name}}
              </td>
              <td>{{item.staff_id.first_name}}</td>
              <td>{{item.booking_start}}</td>
              <td>{{item.service_id.name}}</td>
              <td>&#8364;{{item.service_id.price|floatformat:2|intcomma }}</td>
              <td class="text-center">
                <button
                  type="button"
                  class="btn btn-light btn-edit"
                  data-bs-toggle="modal"
                  data-bs-target="#confirmDelete-{{item.id}}"
                  aria-label="Clcik to delete booking"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            {% endfor%} {% endif %}
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
{% for item in data %}
<div
  class="modal fade"
  id="confirmDelete-{{item.id}}"
  tabindex="-1"
  aria-labelledby="confirmDeleteLabel-{{item.id}}"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteLabel-{{item.id}}">Delete?</h5>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to cancel this booking with:
          {{item.staff_id.first_name}} ?
        </p>
        <p>This action cannot be reversed.</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-dark btn-edit"
          data-bs-dismiss="modal"
          aria-label="Click to abort the deletion"
        >
          Cancel
        </button>

        <a
          href="{% url 'delete-booking' item.id %}"
          class="btn btn-dark btn-delete"
          aria-label="Click to confirm deletion"
          >Confirm</a
        >
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
