{% extends "base.html" %} {% block content %}
<div class="container bg-dark text-white mt-3 mb-3">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1>Make Booking</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-3 mb-1 text-center">
      <form method="GET">
        <div class="mb-3">
          <label for="staff-member" class="form-label">Staff Member:</label>
          <select name="staff-member" id="staff-member" class="select form-select">
            {% for member in staff %}
            
            <option value="{{member.id}}"
            {% if selected_staff == member.id|slugify %}selected{% endif %}>
              {{member.first_name}} {{member.last_name}}
            </option>

            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="select-date" class="form-label">Appointment Date:</label>
          <input class="form-control" type="date" value="{% now "Y-m-d" %}" id="select-date"
          name="booking-date" />
          <div class="text-center d-grid gap-2 col-4 mx-auto mt-4 mb-4">
            <button type="submit" class="btn btn-light btn-lg btn-edit">Check Availability</button>
          </div>
      </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 mb-3">
      {% if available_time %}
      <div class="mb-3 mt-1 text-center">
        <form action="">
          <label class="form-label" for="time-select">Appointment Times</label>
          <select name="time-select" id="time-select" class="select form-select">
            {% for time in available_time %}
            <option value="{{time}}">{{time}}</option>
            {% endfor %}
          </select>
      </div>
      <div class="mb-3 mt-1 text-center">
        <label class="form-label" for="service-select">Service:</label>
        <select name="service-select" id="service-select" class="select form-select">
          {% for item in service_list %}
            <option value="{{ item.id }}">{{ item.description | safe}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="text-center d-grid gap-2 col-4 mx-auto mt-4 mb-4">
        <button type="submit" class="btn btn-light btn-lg btn-edit">Book now</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
