{% extends "base.html" %} {% block content %}
{% load static %}
<!-- Container for main content -->
<div class="container bg-dark text-white mt-3 mb-3">
  <!-- Container for title -->
  <div class="row">
    <div class="col-md-4 offset-md-4 text-center">
      <h1>Make Booking</h1>
      <hr>
    </div>
  </div>
  
  <!-- Container for intial capturing of staff member and date -->
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-3 mb-1 text-center">
      <form method="GET">
        <div class="mb-3">
          <label for="staff-member" class="form-label">Staff Member:</label>
          <select name="staff-member" id="staff-member" class="select form-select no-changes-allowed"
          onchange="toggleDisplayOnChange()">
            {% for member in staff %}
            
            <option value="{{member.id}}" class="no-changes-allowed"
            {% if selected_staff == member.id|slugify %}selected{% endif %}
            >
              {{member.first_name}} {{member.last_name}}
            </option>

            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="select-date" class="form-label">Appointment Date:</label>
          {% if date_to_book %}
          <input class="form-control" type="date" value="{{date_to_book}}" id="select-date"
          name="booking-date" onchange="toggleDisplayOnChange()">
          {% else %}
          <input class="form-control" type="date" value="{% now "Y-m-d" %}" id="select-date"
          name="booking-date">
          {% endif %}
          <div class="text-center d-grid gap-2 col-4 mx-auto mt-4 mb-4">
            <button type="submit" class="btn btn-light btn-lg btn-edit"
            id="id-check-availability"
            aria-label="Click to check for available times"
            onclick="toggleDisplayOnClick()">Check Availability</button>
          </div>
      </div>
      </form>
    </div>
  </div>

 
  <!-- Container for available times and services -->
  <div class="row">
    <div class="col-md-6 offset-md-3 mb-3">
      {% if available_time %}
      {% if 'None' in available_time %}
      <!-- Display for no available time slots -->
      <div class="mt-5 mb-5">
        <h3 class="text-center"><strong>No available times for selection.</strong></h3>
      </div>
      {% else %}
      <!-- Display for available time slots -->
        <form action="{% url 'save-booking' %}" method="POST" id="div-booking-selections" >
          <div class="mb-3 mt-1 text-center">
            {% csrf_token %}
            <input type="text" name="staff-to-book" id="staff-to-book" value="{{selected_staff}}" hidden>
            <input type="date" name="booking-date" id="booking-date" value="{{date_to_book}}" hidden>
            <label class="form-label" for="time-select">Appointment Times</label>
            <select name="time-select" id="time-select" class="select form-select">
              {% for time in available_time %}
              <option value="{{time}}">{{time}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3 mt-1 text-center">
            <label class="form-label" for="service-select">Service:</label>
            <select name="service-select" id="service-select" class="select form-select">
              {% for item in service_list %}
                <option value="{{ item.id }}">{{ item }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="text-center d-grid gap-2 col-4 mx-auto mt-4 mb-4">
            <button type="submit" class="btn btn-light btn-lg btn-edit"
            id="id-save-booking"
            aria-label="Click to submit booking"
            >Book now</button>
          </div>
        </form>
    </div>
  </div>
</div>
{% endif %} {% endif %} 
{% endblock %}

{% block script %}
  <!-- Script for showing and hiding post form -->
  <script src="{% static 'js/bookings.js' %}"></script>
{% endblock %}
