{% extends "base.html" %}
<!-- Load static content -->
{% load static %}
<!-- Crispy forms -->
{% load crispy_forms_tags %}

 {% block content %} 
<div class="container bg-dark mt-5">
  <div class="row">
    <div class="col-12">
      <div class="container bg-dark">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="text-center mt-2 mb-2 text-white">
              {% if mode == 'add' %}
              <h1>Add Trading Day:</h1>
              {% else %}
              <h1>Edit Trading Days:</h1>
              {% endif %}
              <hr>
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-5 bg-dark text-white pt-5 pb-5 text-center">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            {% if mode == 'add' %}

            <form action="{% url 'add-trading-days' %}" method="post">
              {% else %}
              <form
                action="{% url 'edit-trading-days' day %}"
                method="post">
              
              {% endif %} {{ form | crispy }} {% csrf_token %}
              {% if user.is_manager %}
              <button class="btn btn-light btn-edit">Submit</button>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<script>
  
</script>
