{% extends "base.html" %}
<!-- Load static content -->
{% load static %}
<!-- Crispy forms -->
{% load crispy_forms_tags %}

<!-- Trading days url -->
{% url 'edit-trading-days' as edit_days_url %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center mb-3 mt-3">
      <h1></h1>
    </div>
  </div>
</div>

<div class="container bg-dark">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="text-center mt-2 mb-2 text-white">
        <h1>Trading Days:</h1>
        <!-- <button class="btn btn-lg btn-primary" type="submit"> Add New</button> -->
        <a href="#" class="btn btn-lg btn-light btn-edit"
          ><i class="fas fa-plus-square"></i> Add New</a
        >
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 bg-dark text-white pt-5 pb-5 text-center">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form action="" method="post">
        {{ form | crispy }} {% csrf_token %}
        <button class="btn btn-light btn-edit">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
