{% extends "base.html" %} {% load static %}
<!-- Cloudinary -->
{% load cloudinary %} {% cloudinary_includes %}
<!-- Add staff url -->
{% load static %}

<!-- Main content -->
{% block content%}
<!-- Crispy form tags -->
{% load crispy_forms_tags %}

<div class="container text-center bg-dark mt-3 mb-3 text-white">
  <h1>Edit Staff</h1>
  <!-- Form container -->
  <div class="container bg-dark text-white">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <form
          method="post"
          enctype="multipart/form-data"
          action="{% if mode == 'Add'%}{% url 'add-staff' staff_id %}
          {%else%}
          {% url 'edit-staff' staff_id %}
          {% endif %}"
        >
          {% csrf_token%} {{ staff_form | crispy }} {{form.media}}
          <div class="text-center d-grid gap-2 col-4 mx-auto mt-5 mb-5">
            <button type="submit" class="btn btn-lg btn-light btn-edit"
            aria-label="Click to save changes">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="{% static '/js/script.js'%}"></script>
{% endblock %}
