{% extends "base.html" %}

<!-- Load static content -->
{% load static %} {% block content %}

<div class="container bg-dark text-white mt-5">
  <div class="row">
    <div class="col-12 mt-3">
      <!-- Container for header information -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3 text-center mb-3 mt-3">
            <h1>Available users:</h1>
            <hr>
          </div>
        </div>
      </div>
      <!-- Check for no data -->
      {% if data|length == 0 %}
      <h2 class="text-center mt-4">No users to select</h2>
      {% else %}
      <!-- Table container -->
      <div class="container mb-5">
        <div class="row">
          <div class="col-12">
            <div class="table-responsive-md">
              <table
                class="table table-striped table-dark table-hover table-bordered mt-3"
              >
                <thead>
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Staff Status</th>
                    <th scope="col" class="text-center">Add</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in data%}
                  <tr>
                    <td>{{ item.username }}</td>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.last_name }}</td>
                    {% if item.is_staff %}
                    <td class="px-4"><i class="fas fa-check"></i></td>
                    {% else %}
                    <td class="px-4"><i class="fas fa-times"></i></td>
                    {% endif %} {% if user.is_manager %}
                    <td class="text-center">
                      <a
                        class="btn btn-light btn-edit"
                        href="{% url 'add-staff' item.id%}"
                        aria-label="Click to add {{item.first_name}} as staff"
                        ><i class="fas fa-plus-square"></i> Add</a
                      >
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
