{% extends "base.html" %}
<!-- Load static content -->
{% load static %}
<!-- Crispy forms -->
{% load crispy_forms_tags %} {% block content %}

<!-- Container for main content -->
<div class="container bg-dark mt-5">
  <div class="row">
    <div class="col-12">
      <!-- Container for headings -->
      <div class="container bg-dark mt-3 mb-3">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="text-center mt-2 mb-2 text-white">
              <h1>Shop Information</h1>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <!-- Form container -->
      <div class="container bg-dark text-white mt-3 mb-3">
        <div class="row">
          <div class="col-md-8 offset-md-2 mt-3 mb-5">
            <form action="{% url 'shop-info' %}" method="post">
              {{ info_form | crispy}} {% csrf_token %} {% if user.is_manager %}
              <div class="d-grid gap-2 col-6 mx-auto">
                <button
                  class="btn btn-lg btn-light btn-edit mt-4"
                  type="submit"
                  aria-label="Click to save changes"
                >
                  Update
                </button>
              </div>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
