{% extends "base.html" %} 
<!-- Load static content -->
{% load static %}



{% block content %}

<!-- Container for headings -->
<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="text-center mt-2 mb-2 text-white">
        <h1>Bladez &amp; Fadez Staff</h1>
        <hr>
        {% if user.is_manager %}
        <a href="{% url 'select-staff' %}" class="btn btn-lg btn-light btn-edit"
        aria-label="Click to add new staff member"
        ><i class="fas fa-plus-square px-1"></i>  Add New</a>
        {% endif %}
    </div>
    </div>
  </div>
</div>


<!-- Container for details -->
<div class="container-fluid bg-dark">
  <div class="row">
    
    <div class="col-12 mt-3 left">
      <div class="row">
        <!-- Process user list -->
        {% for member in user_list %}
        <div class="col-md-3">
          <div class="card mb-4 h-100">
            <div class="card-body d-flex flex-column">
              <div class="image-container">
                {% if "placeholder" in member.image.url %}
                <img class="card-img-top" src="{% static 'images/nobody.jpg' %}" alt="placeholder image" />
                {% else %}
                <img
                  class="card-img-top scale"
                  src=" {{ member.image.url }}"
                  alt="{{ member.first_name }}"
                />
                {% endif %}
              </div>

              <h2 class="card-title">
                {{ member.first_name }} {{ member.last_name }}
              </h2>
              <p class="card-text">{{ member.description|safe }}</p>
              {% if user.is_manager %}
              <div class="mt-auto">
                <a href="{% url 'edit-staff' member.id %}" class="btn btn-lg btn-light btn-edit" 
                id="id-edit-{{member.username}}"
                aria-label="Click to edit {{member.first_name}}"
                ><i class="far fa-edit"></i></a>
                <button
                      type="button"
                      class="btn btn-dark btn-delete ms-3"
                      data-bs-toggle="modal"
                      data-bs-target="#confirmDelete-{{member.id}}"
                      aria-label="Click to delete {{member.first_name}}"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row mt-2">{% endif %}  {% endfor %}</div>
      </div>
    </div>
  </div>
</div>


{% for member in user_list %}
<!-- Modal -->
<div
  class="modal fade"
  id="confirmDelete-{{member.id}}"
  tabindex="-1"
  aria-labelledby="confirmDeleteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteLabel">Delete?</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete user: {{member.first_name}} {{member.last_name}}?</p>
        <p>This action cannot be reversed.</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-dark btn-edit"
          data-bs-dismiss="modal"
          aria-label="Click to abort the deletion"
        >
          Cancel
        </button>
        <a
          href="{% url 'delete-user' member.id %}"
          class="btn btn-dark btn-delete"
          aria-label="Click to confirm the deletion"
          >Confirm</a
        >
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}
