{% extends "base.html" %}
<!-- Load static content -->
{% load static %}
<!-- Edit Trading days url -->
{% url 'edit-trading-days' as edit_days_url %}
<!-- Add Trading days url -->
{% url 'add-trading-days' as add_days_url %}
<!-- Delete Trading days url -->
{% url 'delete-trading-day' as delete_day_url %}

<!-- Start main content -->
{% block content %}

<div class="container bg-dark mt-5">
  <div class="row">
    <div class="col-12">
      <div class="container bg-dark mt-5">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="text-center mt-2 mb-2 text-white">
              <h1>Trading Days:</h1>
              <hr />
              <a
                href="{% url 'add-trading-days' %}"
                class="btn btn-lg btn-light btn-edit"
                ><i class="fas fa-plus-square"></i> Add New</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <table
              class="table table-striped table-dark table-hover table-bordered mt-3 mb-5"
            >
              <thead>
                <tr>
                  <th scope="col">Day</th>
                  <th scope="col">Open Time</th>
                  <th scope="col">Closing Time</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for data in table_data%}
                <tr>
                  <td>{{ data.get_day_display }}</td>
                  <td>{{ data.open_time }}</td>
                  <td>{{ data.close_time }}</td>

                  <td class="text-center">
                    <a
                      class="btn btn-light btn-edit ms-1"
                      href="{% url 'edit-trading-days' data.id %}"
                      target="_blank"
                      ><i class="far fa-edit"></i
                    ></a>
                    <!-- <a
                        type="button"
                      class="btn btn-light btn-edit ms-5"
                      href="#"
                      target="_blank"
                      ><i class="fas fa-trash"></i
                    ></a> -->
                    <button
                      type="button"
                      class="btn btn-light btn-edit ms-5"
                      data-bs-toggle="modal"
                      data-bs-target="#confirmDelete-{{data.id}}"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
                {% endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
{% for data in table_data%}
<div
  class="modal fade"
  id="confirmDelete-{{data.id}}"
  tabindex="-1"
  aria-labelledby="confirmDeleteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteLabel">Delete?</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete day: {{data.get_day_display}}?</p>
        <p>This action cannot be reversed.</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-dark btn-edit"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <!-- <button action="" type="button" class="btn btn-primary">Delete</button> -->
        <a
          href="{% url 'delete-trading-day' data.id %}"
          class="btn btn-dark btn-delete"
          >Confirm</a
        >
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
