/* General styles */
body {
  
  font-family: "Lato", sans-serif;
  background-color: #fffbf5;
}

nav,
footer {
  font-family: "Lato", sans-serif;
}

p a i {
  color: white;
}

.hide-component {
  display: None;
}

/* Account page styling */
.auth-container {
  background-color: #040404;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  min-width: 40vw;
}


/* Index page styling */
.main-bg {
  background-image: url("/static/images/main_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 70vh;
  background-size: cover;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.details-border {
  border-left: 2px solid #040404;
  border-bottom: 2px solid #040404;
}

.foot-text {
  font-size: 2rem;
}

/* Button styling and effects*/
.btn-signup:hover {
  color: #fff;
  background-color: #040404;
}

.btn-signout {
  text-align: center;
}

.btn-signout:hover {
  color: #fff;
  background-color: #040404;
}

.btn-edit:hover {
  color: #fff;
  background-color: #040404;
}

.btn-delete:hover {
  color: #fff;
  background-color: red;
}

.btn-book {
  padding: 5%;
}

.btn-book:hover {
  background-color: #040404;
}

.details-border {
  border-bottom: 1px solid #040404;
  border-left: 1px solid #040404;
}

.no-decoration {
  text-decoration: none;
}

/* Image styling */
.service-img {
  width: 100%;
  margin-left: 0;
}

.profile-img {
  width: 100%;
}

.full-logo {
  display: block;
  margin: auto;
  opacity: 1;
}


